.restaurant-list {
	margin: 1em;
	min-width: 60vw;
	max-width: 66vw;
	display: grid;
	grid-template-columns: repeat(auto-fill, 12em);
	gap: 1em;
}

@media only screen and (max-width: 960px) {
	.restaurant-list {
		max-width: 95vw;
	}
}
