.search-form {
	width: auto;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
}

.form-input-text {
	min-width: 20em;
	height: 2em;
	margin-right: 0.5em;
	padding: 0;
	font-size: 1em;
}

.filter-box {
	width: 15em;
	display: flex;
	flex-flow: column nowrap;
	background-color: whitesmoke;
	border-radius: 4px;
	padding: 0.2em;
	margin-top: 1em;
	position: sticky;
	top: 4em;
	align-items: stretch;
}

.filter-box-title {
	text-align: center;
	width: 100%;
}

.display-none {
	display: none;
}

.filter-box-inner {
	display: flex;
	flex-direction: column;
}

.filter-box-subtitle {
	cursor: pointer;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	margin: 0.5em;
	padding: 4px;
	border: 1px solid var(--blue);
	border-radius: 0.5em;
}

.filter-cuisine {
	max-height: 50vh;
	display: none;
	overflow: scroll;
	list-style: none;
	padding: 0;
}

.filter-cuisine-active {
	display: inline-block;
}

.filter-cuisine-item {
	width: 100%;
	background: whitesmoke;
	border: none;
	margin: 2px 0;
	cursor: pointer;
	/* overflow: hidden; */
}

.filter-cuisine-item-active {
	border: var(--blue) 1px solid;
	border-radius: 4px;
}

.invert-rotation {
	transform: rotate(180deg);
}

.filter-zipcode {
	display: none;
	text-align: center;
	font-size: 1em;
}

.filter-zipcode-active {
	display: inline-block;
}

.filter-zipcode-input {
	font-size: 1em;
}

.filter-button {
	cursor: pointer;
	margin: 0.5em;
	padding: 4px;
	border: 1px solid var(--blue);
	border-radius: 0.5em;
	background-color: var(--blue);
	color: white;
	font-size: 1em;
}

@media only screen and (max-width: 600px) {
	.form-input-text {
		width: 70vw;
		margin-right: 10vw;
	}

	.filter-box {
		top: 3.5em;
		width: 70vw;
		cursor: pointer;
		border: 1px solid var(--blue);
	}

	.filter-box-title {
		margin: 0;
		color: var(--blue);
	}
}
