@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
	font-family: "DM Sans", sans-serif;
}

:root {
	margin: 0;
	padding: 0;
	--blue: rgb(38, 77, 204);
	--slight-grey: #e4e4e4;
	--grey: #545454;
	--white: #fff;
	--yellow-pastel: #f8e36c;
	--red-pastel: #f15f5f;
	--lime-pastel: #bfdb59;
	--orange-pastel: #f8b869;
	--green-pastel: #87ec68;
	font-size: 16px;
}

body {
	background-color: whitesmoke;
}

.app {
	height: 100%;
}

@media only screen and (max-width: 768px) {
	:root {
		font-size: 14px;
	}
}

@media only screen and (max-width: 400px) {
	:root {
		font-size: 13px;
	}
}
