@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
	font-family: "Noto Serif", serif;
}

:root {
	margin: 0;
	padding: 0;
	--blue: rgb(13, 118, 199);
	--slight-grey: #e4e4e4;
	--grey: #545454;
	--white: #fff;
	--yellow-pastel: #f8e36c;
	--red-pastel: #f15f5f;
	--lime-pastel: #bfdb59;
	--orange-pastel: #f8b869;
	--green-pastel: #87ec68;
	font-size: 16px;
}

body {
	background-color: whitesmoke;
}

.app {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	background-color: var(--slight-grey);
	min-height: 100vh;
}

@media only screen and (max-width: 768px) {
	:root {
		font-size: 14px;
	}
}

@media only screen and (max-width: 400px) {
	:root {
		font-size: 13px;
	}
}
